@model IEnumerable<homeless_pets.Models.New>
@{
    ViewBag.Title = "Homeless pets";
}
<script src="~/Scripts/jquery-1.10.2.min.js"> </script>
<script type="text/javascript">
    $(document).ready(function () {
    })</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/promo1.png" alt="">
            <div class="carousel-caption">
                <h3>Маруся</h3>
                <p>Кошка в дар для ценителей классики. Идеальный котенок для любителей фортепианной музыки. Окрас как у клавишей фоно, музыкальный голос...</p>
                <p>@Html.ActionLink("Каталог \u00BB", "List", "Catalog", null, new { @class = "btn btn-primary btn-lg" })</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Images/promo_2.png" alt="">
            <div class="carousel-caption">
                <h3>Максим</h3>
                <p>Это не кот, а самое настоящее торнадо. Веселый и потешный дурашка. Он постоянно куда-то бежит, что-то хватает, кого-то ловит...</p>
                <p>@Html.ActionLink("Каталог \u00BB", "List", "Catalog", null, new { @class = "btn btn-primary btn-lg" })</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Images/promo_3.png" alt="">
            <div class="carousel-caption">
                <h3>Мирциария</h3>
                <p>Утонченная, гибкая, настоящая ladycat ищет дом. Рожденная на улице, девочка жила в голоде и постоянном страхе...</p>
                <p>@Html.ActionLink("Каталог \u00BB", "List", "Catalog", null, new { @class = "btn btn-primary btn-lg" })</p>
            </div>

        </div>
    </div>
</div>

<div class="row">
    @foreach (var topic in Model)
    {
        <div class="col-md-4">
            <h2>@topic.Header</h2>
            <p>
                @topic.Short
            </p>
            <p>@Html.ActionLink("Читать", "NewPage", "News", new { id = topic.NewID }, new { @class = "btn btn-default" })</p>
        </div>
    }
</div>