@model IEnumerable<homeless_pets.Models.Pet>

@{
    ViewBag.Title = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Card</h2>
@ViewBag.Variable

<main class="container">
    @foreach (var item in Model)
    {
        if (item.PetID == ViewBag.Variable)
        {
            string[] imgs = item.Img.Split(';');

            <section id="card">
                <img class="thumbnail" src="@Html.Raw(imgs.First())" alt="" title="">
                <h1>
                    <a href="">@Html.DisplayFor(modleItem => item.Name)</a>
                </h1>
                <h2></h2>
                <p>
                    Контакты:     <a href="">@Html.DisplayFor(modleItem => item.tel)</a>
                    <br>
                    Условия пристройства:
                    <span>@Html.DisplayFor(modleItem => item.ConditionsAccept)</span>
                </p>
            </section>

            <section id="photos" class="scrollable">
                <nav class="img-viewer">
                    @foreach (var img in imgs)
                    {
                        <a href="@img" target="_blank">
                            <img src="@img" alt="" title="">
                        </a>
                    }

                </nav><div class="prev fa fa-angle-left" style="display: none;"></div><div class="next fa fa-angle-right" style="display: none;"></div>
            </section>

            <section id="info">

                <table class="options">
                    <tbody>
                        <tr>
                            <th>Пол</th>
                            <td>
                                @if (item.Gender)
                                {
                                    <p>Женский</p>
                                }
                                else
                                {
                                    <p>Мужской</p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <th>Возраст</th>
                            <td>
                                @Html.DisplayFor(modleItem => item.Age)
                            </td>
                        </tr>
                        <tr>
                            <th>Кастрирован/Стерилизована</th>
                            <td>
                                @if (item.Сastrated)
                                {
                                    <p>Да</p>
                                }
                                else
                                {
                                    <p>Нет</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="options">
                    <tbody>
                        <tr class="separator"><td colspan="2"></td></tr>
                        <tr>
                            <th>Тип шерсти</th>
                            <td>
                                @Html.DisplayFor(modleItem => item.Wool)
                                @*<a href="/catalog/cats?wool=1"></a>*@
                            </td>
                        </tr>
                        <tr>
                            <th>Преимущественный окрас</th>
                            <td>
                                @Html.DisplayFor(modleItem => item.Colour)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="options">
                    <tbody>
                        <tr class="separator"><td colspan="2"></td></tr>
                        <tr><th>Характер</th><td><p>@Html.DisplayFor(modleItem => item.Character)</p></td></tr>
                        <tr><th>Кормление</th><td><p>@Html.DisplayFor(modleItem => item.Food)</p></td></tr>
                        <tr>
                            <th>Приучен к лотку</th>
                            <td>
                                @if (item.WC)
                                {
                                    <p>Да</p>
                                }
                                else
                                {
                                    <p>Нет</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="options"><tbody><tr class="separator"><td colspan="2"></td></tr><tr><th>Обработка и уход</th><td>@Html.Raw(item.CheckedOut)</td></tr></tbody></table>

                <table class="options"><tbody><tr class="separator"><td colspan="2"></td></tr><tr><th>Адрес</th><td>@Html.DisplayFor(modleItem => item.Address)</td></tr></tbody></table>
            </section>
        }
    }
</main>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сastrated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionsAccept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        if (item.PetID == ViewBag.Variable)
        {
            string[] imgs = item.Img.Split(';');
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сastrated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.Raw("<img style='width:120px; height:120px;' src=\"" + imgs.First() + "\" />")
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionsAccept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WC)
            </td>
            <td>
                @Html.Raw(item.CheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>

                @foreach (var img in imgs)
                {
                    @Html.Raw("<img style='width:120px; height:120px;' src=\"" + img + "\" />")
                }

            </td>
        </tr>
        }
    }

    </table>*@
